<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<import resource="classpath:spring/application-db.xml" />
	
	<!-- 扫描service 及其依赖  注入 -->
	<context:component-scan base-package="app.service" />
    <context:component-scan base-package="message.receiver" />

    <!--<context:property-placeholder location="topic.properties" file-encoding="utf-8"/>-->
    <util:properties id="topicProps" location="classpath:topic.properties" />
    <bean id="messageReceiver" class="message.receiver.MessageReceiver" init-method="doReceive" lazy-init="false"/>
	
</beans>
